name: CI-CD
on:
  push:
    branches: ["main"]
  workflow_dispatch:
jobs:
    CI:
      runs-on: ubuntu-latest
      steps:
        - name: Checkout
          uses: actions/checkout@v5
        - name: Setup Python
          uses: actions/setup-python@v4
          with:
            python-version: '3.11'
        - name: Install dependencies
          working-directory: 02-encontros-tech
          run: |
            python -m pip install --upgrade pip
            pip install -r requirements.txt
        - name: Run Tests
          working-directory: 02-encontros-tech
          run: |
            python -m pytest tests/ -v
        - name: Login to Docker Hub
          uses: docker/login-action@v3
          with:
            username: ${{ vars.DOCKERHUB_USERNAME }}
            password: ${{ secrets.DOCKERHUB_TOKEN }}
        - name: Build and Push Docker Image
          uses: docker/build-push-action@v6
          with:
            push: true
            tags: ${{ vars.DOCKERHUB_USERNAME }}/devops-ia-2-edicao:v${{ github.run_number }}
            file: 02-encontros-tech/Dockerfile
            context: 02-encontros-tech/
          
    CD:
      runs-on: ubuntu-latest
      needs: [CI]
      steps:
        - name: Checkout
          uses: actions/checkout@v5
        
        - name: Set Kubernetes Context
          uses: azure/k8s-set-context@v4
          with:
            method: kubeconfig
            kubeconfig: ${{ secrets.KUBE_CONFIG }}
        
        - name: Deploy to Kubernetes
          uses: azure/k8s-deploy@v5
          with:
            manifests: |
              02-encontros-tech/k8s/manifests.yaml
            images: |
              ${{ vars.DOCKERHUB_USERNAME }}/devops-ia-2-edicao:v${{ github.run_number }}
            namespace: default
      
        
    
